:root {
  font-family: 'Montserrat';
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: rgba(255, 255, 255, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}